{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off"
  },
  "settings": {
    "import/core-modules": [],
    "import/resolver": {
      "alias": {
        "map": [
          ["@src", "./src"],
          ["@utils", "./src/utils"],
          ["@components", "./src/components"],
          ["@pages", "./src/pages"],
          ["@atoms", "./src/atoms"],
          ["@molecules", "./src/molecules"],
          ["@organisms", "./src/organisms"],
          ["@assets", "./src/assets"]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  },
  "env": {
    "browser": true
  }
}
